
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 40vh;
    min-width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form button,select,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgrey;
    padding-left: 10px;
    font-size: 1rem;
    height: 3rem;
    font-weight: 400;
}
.dropdown{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
.dropdown i{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
button{
    height: 3rem;
    margin-top: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
}
.msg {
    text-align: center;
    justify-self: center;
    margin-top: 15px;
}
.labels{
    font-size: 1.85;
}